<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div th:replace="header :: header">
        static header
    </div>
    <div class="container">
        <h1>Manage Customers</h1>
        <a th:href="@{/showNewCustomerForm}" class="btn btn-primary btn-sm mb-3">Add Customer</a>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.age}"></td>
                    <td>
                        <a th:href="@{/showFormForUpdate/{id}(id=${customer.id})}" class="btn btn-info">Update</a>
                        <a th:href="@{/deleteCustomerWithId/{id}(id=${customer.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/createOrder/{id}(id=${customer.id})}" class="btn btn-primary">Create Order</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>